
<div class="imgs">
  
<div>
  <img src="/images/194931.png" alt="" width="100px" height="100px">
       <ul>
        <li>STUDENT LOGIN</li>
        <li>STUDENT COURSES</li>
        <li>STUDENT FEES</li>
        <li>STUDENT PROGRESS</li>
       </ul>
</div>


<form class="forms" method="post" enctype="application/x-www-form-urlencoded">
 <h1> {{title}}</h1>
  <div class="form-group">
    <label for="exampleFormControlInput1">First name</label>
    <input type="text" class="form-control" name="firstName" id="exampleFormControlInput1" placeholder="First name">
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">Last name</label>
    <input type="text" class="form-control" name="lastName" id="exampleFormControlInput1" placeholder="Last Name">
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">Phone Number</label>
    <input type="tel" class="form-control" name="phno" id="exampleFormControlInput1" placeholder="Phone Number">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="3"></textarea>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
</div>